# Environments
.env
**/.env
*.env


# pkl data
.pkl
**/.pkl
*.pkl


# jsons
.json
**/.json
*.json


# DS Store Mac file
.DS_Store
**/.DS_Store
*.DS_Store


# checkpoints
.ipynb_checkpoints
**/.ipynb_checkpoints
*.ipynb_checkpoints

# pycache
__pycache__
**/__pycache__
*__pycache__